.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}
img.banner-logo {
  height: 300px;
  width: 300px;
}

@media screen and (max-width: 330px) {
  div.banner {
    height: 40vh;
  }
  img.banner-logo {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 330px) and (max-width: 490px) {
  div.banner {
    height: 40vh;
  }
  img.banner-logo {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 490px) and (max-width: 499px) {
  div.banner {
    height: 45vh;
  }
  img.banner-logo {
    width: 200px;
    height: 200px;
  }
}


.banner h1 {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: "Faustina";
  color: #6D4352;
  opacity: 0.7;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  /*opacity: 0.6;*/
  /*margin-bottom: 30px;*/
  width: 300px;
  height: ` 300px;
}

.banner-content {
  display:  none;
}

