div.what-we-did {
    background-color: #902735;

}

div.logo-fest-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column
}

div.logo-fest-container-row {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

div.logo-first-row {
    justify-content: center;
    margin-top: 50px;
}

div.logo-second-row {
    margin-bottom: 100px;
}


div.logo-fest-div div  {
    height: 300px;
    width: 300px;
    background-position: cover;
}

div.logo-fest-div img {
   height: 100px;
}


div.logo-fest-div img.square {
    height: 200px;
}
div.logo-fest-div img.waterloo {
    height: 150px;
}
div.logo-fest-div img.basch {
    height: 130px;
}
div.logo-fest-div {
    margin-left: 15px;
    margin-right: 15px;
}

@media screen and (max-width: 600px ) {
    div.logo-fest-div img {
        height: 30px;
     }

     div.logo-fest-div img.square {
        height: 40px;
    }
    div.logo-fest-div img.waterloo {
        height: 35px;
    }
    div.logo-fest-div img.basch {
        height: 35px;
    }
}


@media screen and (min-width: 600px) and  (max-width: 900px ) {
    div.logo-fest-div img {
        height: 50px;
     }

     div.logo-fest-div img.square {
        height: 100px;
    }
    div.logo-fest-div img.waterloo {
        height: 75px;
    }
    div.logo-fest-div img.basch {
        height: 65px;
    }
}

@media screen and (min-width: 900px )  and (max-width: 1200px){
    div.logo-fest-div img {
        height: 75px;
     }

     div.logo-fest-div img.square {
        height: 150px;
    }
    div.logo-fest-div img.waterloo {
        height: 110px;
    }
    div.logo-fest-div img.basch {
        height: 100px;
    }
}