@import url("css/banner.css");
@import url("css/intersection.css");
@import url("css/members.css");
@import url("css/gallery.css");
@import url("css/contact.css");
@import url("css/navbar.css");





body {
  overflow-x: hidden;
}
div.who {
	background-color: #FFFDF9;
	width: 100%;
	background-position: bottom bottom;
	display: flex;
    align-items: center;
  	justify-content: center;
  	padding-top: 50px;
  	padding-bottom: 100px;
}
div.who-content {
	width: 40%;
}
h3 {
	color: #6D4352;
	font-size: 120%;
	text-align: center;
	font-weight: lighter;
	opacity: 0.7;
	font-family: 'Faustina', serif;
}

h3.gallery-title {
	color: #6D4352;
  padding-top: 25px;
}

h3:before {
	margin-right: 20px;
}
h3:after {
	margin-left: 20px;
}

h3:before , h3:after {
	content: "";
    border-top: 2px solid #6D4352;
    width: 60px;
    padding-bottom: 4px;
    display: inline-block;
}
h3.team:before , h3.team:after {
	border-top: 2px solid #6D4352;
}
h3.gallery-title:before, h3.gallery-title:after {
	border-top: 2px solid #6D4352;
}
h1.who-title {
	text-align: center;
	/*color: #CEA0AE;*/
	color: #E08D84;
	margin: 40px;
	margin-top: 50px;
	padding-right: 20vw;
	padding-left: 20vw;
	font-family: 'Montserrat', sans-serif;

}


p.who-p {
	text-align: left;
	font-size: 150%;
	color: black;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 50px;
	font-family: 'Montserrat', sans-serif;
	opacity: 0.6;
	line-height: 2em;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
	h1.who-title {
		margin: 0px;
		padding-top: 50px;
	}
}
@media screen and (min-width: 320px) and (max-width: 403px) {
	p.who-p {
		margin-left: 0px;
		margin-right: 0px;
		padding: 0 20px;
		width: 100%;
		text-align: center;
		font-size: 120%;
	}
}
@media screen and (min-width: 403px) and (max-width: 600px) {
	p.who-p {
		margin-left: 0px;
		margin-right: 0px;
		padding: 0 30px;
		font-size: 130%;
		text-align: center;
	}
}
.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity:1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
    }
    100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    }
}

div.gallery-2 {
  height: 100vh;
}

div.item {
  height: 100vh !important;
  width: auto;
}

div.item > img {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 80vh;
  width: auto;
}




.carousel-control {
  background-image: none !important;
  height: 85vh;
}

ol.carousel-indicators {
  bottom: 158px;
}

.banner-content {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center
}

.cover-video-shade {
  background-color: rgba(50, 50, 50, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover-video-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.cover-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

div.who-flex {
  display: flex;
}

div.who-img {
  height: 40vh;
  width:30vw;
  background-size: cover;
}

div.the-show {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

div.who-new-content {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

div.who-new-img {
  width: 30vw;
  height: 1080px;
  background-size: cover;
}

.who-img-img {
  max-width: 90%;
}

p.who-new-p {
  width: 40vw;
  font-size: 115%;
  text-align: left;
  color: black;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.6;
  line-height: 2em;
}

@media screen and (max-width: 700px) {
  div.who-new-content {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .who-img-img {
    width: 100%;
    height: 100%;
  }
  p.who-new-p {
    font-size: 100%;
    width: 80%;
  }
  div.who-text-content {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
  }
  div.video-container {
    height: 400px !important;
  }
  iframe {
    width: 90% !important;
  }
}
