@import url("css/banner.css");
@import url("css/intersection.css");
@import url("css/members.css");
@import url("css/gallery.css");
@import url("css/contact.css");
@import url("css/navbar.css");






div.who {
	background-color: #FFFDF9;
	width: 100%;
	background-position: bottom bottom;
	display: flex;
  	justify-content: center;
  	padding-top: 50px;
  	padding-bottom: 100px;
}
div.who-content {
	width: 100%;
}
h3 {
	color: #6D4352;
	font-size: 120%;
	text-align: center;
	font-weight: lighter;
	opacity: 0.7;
	font-family: 'Faustina', serif;
}

h3.gallery-title {
	color: #6D4352;
}

h3:before {
	margin-right: 20px;
}
h3:after {
	margin-left: 20px;
}

h3:before , h3:after {
	content: "";
    border-top: 2px solid #6D4352;
    width: 60px;
    padding-bottom: 4px;
    display: inline-block;
}
h3.team:before , h3.team:after {
	border-top: 2px solid #6D4352;
}
h3.gallery-title:before, h3.gallery-title:after {
	border-top: 2px solid #6D4352;
}
h1.who-title {
	text-align: center;
	/*color: #CEA0AE;*/
	color: #E08D84;
	margin: 40px;
	margin-top: 50px;
	padding-right: 20vw;
	padding-left: 20vw;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}


p.who-p {
	text-align: left;
	font-size: 150%;
	color: black;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 50px;
	font-family: 'Montserrat', sans-serif;
	opacity: 0.6;
	font-weight: bolder;
	line-height: 2em;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
	h1.who-title {
		margin: 0px;
		padding-top: 50px;
	}
}
@media screen and (min-width: 320px) and (max-width: 403px) {
	p.who-p {
		margin-left: 0px;
		margin-right: 0px;
		padding: 0 20px;
		width: 100%;
		text-align: center;
		font-size: 120%;
	}
}
@media screen and (min-width: 403px) and (max-width: 600px) {
	p.who-p {
		margin-left: 0px;
		margin-right: 0px;
		padding: 0 30px;
		font-size: 130%;
		text-align: center;
	}
}
.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity:1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
    }
    100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    }
}

div.gallery-2 {
  height: 100vh;
  padding-top: 50px;
}

div.item {
  height: 100vh !important;
  width: auto;
}

div.item > img {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 80vh;
  width: auto;
}




.carousel-control {
  background-image: none !important;
  height: 85vh;
}

ol.carousel-indicators {
  bottom: 158px;
}
